//ESQUEMA DE COLORES
$bg-rosa: #E39FC6;
$bg-fondo: #efdfdf;
$bg-fucsia: #E72067;
$bg-blanco: #FFF;
$bg-cafe:  #432918;
$bg-leon: #B17F4A;
$bg-negro: #000;

//TIPOGRAFIA
$font-cookie: 'Cookie', cursive;
$font-open-sans: 'Open Sans', sans-serif;

//PESO DE FUENTES
$weight-regular: 400;
$weight-bold: 700;

//TAMAÑO DE FUENTES
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;