.footer__icono-face {
    color: blue;
}
.footer_icono-insta {
    color: orangered;
}

a{
    i{
        font-size: $x-large;
    }
}
footer {
    padding: 10px;
    margin-bottom: 0px;
}
small {
    font-size: $large;
}


