.header__image{
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.header__logo{
	width: 28%;
	margin: 2rem 0;
	padding-top: 10rem;
}